.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/*png
analysis/*html
analysis/*cache
analysis/site_libs
packrat/lib*/
data/leucegene/salmon_out/*
output/Leucegene_gene_counts.tsv
*swp
